body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #c4d7e7;
}

#window {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #000000;
    padding: 1vh;
}
